<% layout('layouts/boilerplate')%>

<a href="/" class = "btn btn-success mr-3 mb-3 ">&#x2B9C; Back</a>
<br>

<a href = "farmer/products">Buy Seeds and Fertilizers</a>
<br>
<a href = "farmer/equipments">Lend Farm Equipments</a>
<br>
<a href="/farmer/orders">My Orders</a>

