<% layout('layouts/boilerplate')%>

<a href="/" class = "btn btn-success mr-3 mb-3 ">&#x2B9C; Back</a>
<br>

<a href = "supplier/products">Sell Seeds and Fertilizers</a>
<br>
<a href = "supplier/equipments">Rent Farm Equipments</a>
<br>
<a href = "supplier/orders">Show Orders</a>

