<% layout('layouts/boilerplate')%>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>


<body>
    <h1>Welcome to Agro App! One Stop Farmer Destination</h1>


    <div class = "row justify-content-center align-items-center mt-5">
        <div class = "col-md-4">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://image.shutterstock.com/image-vector/indian-farmer-vector-illustration-600w-1181501548.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Farm Owner</h5>
                    <p class="card-text">If you are a farmer then you are at perfect platfrom from where you can order all of your farming related products and equipments as well as labour</p>
                   <a href="/farmer" class="btn btn-primary">Explore more</a>
                </div>
            </div>
        </div>

        <div class = "col-md-4">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://image.shutterstock.com/image-vector/grocery-store-icon-flat-style-600w-1415353382.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Supplier</h5>
                    <p class="card-text">Sell your wide variety of products related to farming, through our platform. We have millions of farmers connected from all parts of country.</p>
                   <a href="/supplier" class="btn btn-primary">Explore more</a>
                </div>
            </div>
        </div>

        <div class = "col-md-4">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://image.shutterstock.com/image-vector/stock-vector-silhouette-farmer-plowing-600w-1285562311.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Farm Worker</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   <a href="/worker" class="btn btn-primary">Explore more</a>
                </div>
            </div>
        </div>

      

    </div>

    <script type="text/javascript">
        (function(d, m){
            var kommunicateSettings = 
                {"appId":"3579138c0ec446ce02b7ce4b9b71d5e40","popupWidget":true,"automaticChatOpenOnNavigation":true};
            var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
            s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
            var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
            window.kommunicate = m; m._globals = kommunicateSettings;
        })(document, window.kommunicate || {});
    /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    </script>
    

</body>

</html>