<% layout('layouts/boilerplate')%>

<a href="/" class = "btn btn-success mr-3 mb-3 ">&#x2B9C; Back</a>
<br>

<a href = "worker/jobs">Apply for Jobs</a>
<br>
<a href = "worker/profile/edit">Update Profile</a>
<br>
<a href = "worker/applications">My Job Applications</a>

